.services {
  @include fluid-indent(30px, 60px, margin-top);
  display: flex;
  flex-flow: column wrap;
  justify-content: stretch;
  align-items: center;
  width: 100%;
  margin-bottom: 30px;

  @media #{$tablet-portrait} {
    flex-flow: row wrap;
  }

  @media #{$laptop} {
    flex-flow: row nowrap;
    align-items: flex-end;
    margin-bottom: 0;
  }
}

.services__item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  border-radius: $small-radius;
  background-color: $white;
  backdrop-filter: blur(20px);

  @media #{$tablet-portrait} {
    max-width: calc(50% - 10px);

    &:nth-of-type(odd) {
      margin-right: 20px;
    }
  }

  @media #{$laptop} {
    width: calc(16% - 20px);
    min-height: 88px;
    height: fit-content;
    margin-bottom: 0;
    border-radius: $small-radius $small-radius 0 0;

    &:not(:last-of-type) {
      margin-right: 20px;
    }
  }
}

.services__link {
  @include transition(all);
  @include fluid-font($fs-small-mobile, $fs-small-desktop);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 18px;
  text-decoration: none;
  text-align: center;
  color: $gray;

  @media #{$laptop} {
    &:hover {
      color: $dark;
    }
  }
}