@import 'constants';
@import 'mixins';

.section {
  display: flex;
  flex-direction: column;
}

.section__container {
  @include container();
}

.section__inner {
  @include column(11, 12);
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
}

.section__title {
  width: column(9.5, 12);
  margin: 0 auto 40px auto;
  text-align: center;
}

.section__content {
  @include column(11, 12);
  display: flex;
  flex-flow: column nowrap;
  margin: 0 auto;
}

.columns {
  display: flex;
  flex-flow: column nowrap;

  @media #{$tablet-landscape} {
    flex-direction: row;
  }
}

.column_theme_half {
  @include fluid-indent(30px, 0, margin-top);
  width: 100%;

  @media #{$tablet-landscape} {
    @include column(1, 2);
  }
}