@import 'constants';
@import 'mixins';

@include font(montserrat, "montserrat/Montserrat-Regular", 400);
@include font(montserrat, "montserrat/Montserrat-Bold", 700);
@include font(inter, "inter/Inter-Regular", 400);

html {
    font-family: $font-basic;
}

h1, h2, h3 {
    margin: 0;
    font-family: $font-header;
    color: $dark;
}

h1 {
    @include fluid-font($fs-h1-mobile, $fs-h1-desktop);
    font-weight: 700;
    line-height: 100%;
}

h2 {
    @include fluid-font($fs-h2-mobile, $fs-h2-desktop);
    font-weight: 700;
    line-height: 108%;
}

h3 {
  @include fluid-font($fs-h3-mobile, $fs-h3-desktop);
    font-weight: 400;
    line-height: 108%;
}

p {
    @include fluid-font($fs-p-mobile, $fs-p-desktop);
    margin-top: 0;
    margin-bottom: 16px;
    font-weight: 400;

    &:last-of-type {
        margin-bottom: 0;
    }
}

b,
strong {
    font-weight: 700;
}

ol,
ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    font-size: 100%;
    vertical-align: baseline;
}

.accent {
  color: $accent;
}

