{% extends "./layout/layout.twig" %}
{% block title %} <title>LeadConveer: главная страница</title> {% endblock %}

{% block header %}
    {% include '../sections/header/header.twig' %}
{% endblock %}

{% block content %}
    {% include '../sections/first-screen/first-screen.twig' %}
    {% include '../sections/features/features.twig' %}
{% endblock %}

{% block footer %}
    {% include '../sections/footer/footer.twig' %}
{% endblock %}
