.first-screen {
  @include fluid-indent(10px, 60px, padding-top);
  @include fluid-indent(40px, 130px, margin-bottom);
  border-radius: 0 0 $big-radius $big-radius;
  background-color: $bg;

  .section__container {
    display: flex;
    align-items: center;
  }
}

.first-screen__content {
  order: 1;

  @media #{$tablet-landscape} {
    order: 0;
  }
}

.first-screen__picture {
  display: flex;
  align-items: center;
  justify-content: center;
  order: 0;

  @media #{$tablet-landscape} {
    order: 1;
  }
}

.first-screen__text {
  @media #{$tablet-landscape} {
    @include column(5.5, 6);
  }
}

.first-screen__title {
  word-break: break-all;
  hyphens: auto;
}

.first-screen__slogan {
  @include column(4.25, 5.5);
  @include fluid-indent(20px, 40px, margin-top);
  @include fluid-indent(20px, 40px, margin-bottom);
  display: flex;
  flex-wrap: nowrap;
  align-items: center;

  &:after {
    content: "";
    display: inline-block;
    margin-left: 20px;
    width: 72px;
    min-width: 72px;
    height: 72px;
    min-height: 72px;
    background-image: url("/images/icons/money-face.svg");
    background-repeat: no-repeat;
    background-position: left center;
    background-size: contain;
  }

  p {
    @include fluid-font($fs-h3-mobile, $fs-h3-desktop);
    font-weight: 400;
  }
}